.containerded {
  background-image: url("/public/images/home-shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: contrast(200%);
}

.home-image img {
  border-radius: 29px;
  object-fit: cover;
  width: 100vh;
  height: 400px;
  border: 2px solid white;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/* *********************** footer ******************************* */
.copyrightissue {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #872039;
}
.copyrightissue h6 {
  color: white;
 font-family: cursive;
}
.information{
  box-shadow: 0 4px 30px rgb(100 108 205 / 92%);
}
.information:hover{
border-radius: 10px;
box-shadow: 0 4px 30px #aa4961;
}
.list-unstyled li a:hover {
  color: #872039;
}


.menuinfo:hover{
  box-shadow: 0 4px 30px rgb(100 108 205 / 92%);
  border-radius: 100px;
  padding: 4rem;
}




@media screen and (max-width: 800px) {
 
  .information{
    box-shadow: none!important; 
  }
  .shadow{
    box-shadow: none!important;  
  }
}

