*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.desktop-nav {
  display: inline-block;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: .1s;
  z-index: 4;
  /* background-color: #1c4b82; */
  background-color: #872039;
  width: 100%;
}
.logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  margin: 20px;
  padding: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo  a{
  font-weight: 600;
  color: #fbfbfb;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: cursive;
}
.logo  a:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  color: #ffd900;


}

.sidenavbar{
 
  float: right;
    display: flex;
    align-items: baseline;
}
.sidenavbar li a { 
  color: #ffd900;

}
.sidenavbar li a:hover { 
  color: #ffffff;
size: 2rem;

}
.sidenavbar ul{
display: flex;
}
.sidenavbar ul li{
  list-style: none;
  padding: 1rem;

}
.sidenavbar ul li a{
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-family: cursive;


}
.sidenavbar ul li a:active{
 font-weight: 800;


}
.sidenavbar ul li a:hover{
 font-weight: 800;

 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 -webkit-box-shadow: 0 10px 6px -6px #777;


}
.menu{
  display: none;
}

.responsiven-nav{
  display: none;
}
@media screen and (max-width: 800px) {

  .sidenavbar{
    float: none;
    display: none;
    height: 30px;
  
  }
  .sidenavbar ul{
flex-direction: column;
display: none;
  
  }
  .menu{
    margin-top: 1.3rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.3rem;
  }
  .menu li a{
    color: white;
  
  }
  .icon{
    display: none;
  }
  .responsiven-nav li a{
 color:#872039;
 size: 2rem;
 z-index: 1;
 font-family: cursive;
 text-decoration: none;
  }
  .responsiven-nav{
  
    margin: 0rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    justify-content: center;
    list-style: none;
    opacity: 1;
    padding: 0px 0;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(5px);
    transition: .1s;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px 30px rgb(100 108 205 / 92%);
    display: none;
  }
  .responsiven-nav ul {
    width: 100%;
    padding: 1rem;
  }
.ulview{
  display: flex!important;

}
}